
#logo {
    background-image: url("icons/close-red-icon.png");
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

h4#selected-text-header {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}
  
#close-button {
    background-image: url("icons/close-red-icon.png");
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

#selected-text-header {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

#selected-text-translation-header{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 14px;
}

#popup_translator_window {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff70;
    border-radius: 10px;
    border: 1px solid #ffffffdf;
    padding: 0 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* For Firefox, Chrome, and Edge */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
  }
  
      .dropdown,
      .dropdown2 {
        position: relative;
        display: inline-block;
        border-radius: 3px;
      }

      .dropdown select,
      .dropdown2 select {
        appearance: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #333;
        width: 40px;
        height: 20px;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        color: white;
        background-repeat: no-repeat;
        background-position: left 5px center;
        text-align: center;
      }

      .dropdown select:focus,
      .dropdown2 select:focus {
        outline: none;
      }

      .dropdown select option,
      .dropdown2 select option {
        background-color: #333;
        color: white;
      }

      .flag {
        width: 30px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 9px;
        box-sizing: border-box;
      }

      